<!DOCTYPE html>
<html np-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="js/angular.js"></script>
    <script src="js/app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as tbcontrol'>
      <h2>To Buy:</h2>
      <ul>
        <li ng-repeat="item in tbcontrol.items">Buy {{ item.quantity }} {{ item.unit }} of {{ item.name }}<button class="btn btn-default" ng-click="tbcontrol.buyItem($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
      </ul>
      <div ng-if="!(tbcontrol.items)" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtController as abcontrol'>
      <h2>Already Bought:</h2>
      <ul>
        <li ng-repeat="item in abcontrol.items">Bought {{ item.quantity }} {{ item.unit }} of {{ item.name }}</li>
      </ul>
      <div class="emptyMessage" ng-if="!(abcontrol.items)">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
