<!DOCTYPE html>
<html ng-app='ShoppingListCheckOff'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Custom Service</title>
  </head>
  <body>
    <h1>Custom Service</h1>
    <div ng-controller='ToBuyController as itemBuyer'>
	<li ng-repeat="item in itemBuyer.items">
          {{ item.quantity }} of {{ item.name }}
          <button ng-click="itemBuyer.buyItem($index);">Buy Item</button>
        </li>
    </div>

    <div ng-controller='AlreadyBoughtController as boughtList'>
      <ol>
        <li ng-repeat="item in boughtList.items">
          {{ item.quantity }} of {{ item.name }}
        </li>
      </ol>
    </div>
  </body>
</html>
