<!DOCTYPE html>
<html ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row">

    <div class="col-md-6" ng-controller='ToBuyController as itemBuyer'>
      <h2>To Buy:</h2>
      <ul>
	      <li ng-repeat="item in itemBuyer.items">Buy <input type="text" value={{ item.quantity }} ng-model="item.quantity"> {{ item.name }} <button class="btn btn-default" ng-click="itemBuyer.buyItem($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
      </ul>
      <div ng-if="!itemBuyer.items.length" class="emptyMessage">Everything is bought!</div>
    </div>

    <div class="col-md-6" ng-controller='AlreadyBoughtController as boughtList'>
      <h2>Already Bought:</h2>
      <ul>
	      <li ng-repeat="item in boughtList.items">Bought {{ item.quantity }} {{ item.name }} for total price of {{ item.pricePerItem * item.quantity | currency : "$$$$$" : 2 }}</li>
      </ul>
      <div class="emptyMessage" ng-if="!boughtList.items.length">Nothing bought yet.</div>
    </div>
  </body>
</html>
