body {
  font-size: 16px;
  color: #fff;
  background-color: #99ffcc; 
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #66ccff;
  border-radius: 0;
  border: 0;
}

#home-tiles {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.navbar-brand h1 { /* name */
  font-family: 'Oxygen', sans-serif;
  color: #557c3e;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  line-height: .75;
  float: left;
}

#collapsable-nav { /* Collapsed nav menu text */
  vertical-align: top;
}

div h1 { /* Our Menu */
  color: #000000;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: left;
  margin-top: -50px;
}
/* END HEADER */

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  width: 100%;
}

#menu-tile {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: justify;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: #959595;
  background-position: center;
}

#menu-tile h3 {
  right: 0;
  width: 100%;
  text-align: center;
  vertical-align: top;
  font-size: 1.6em;
  color: #000;
}

#menu-tile a {
  color: #951C49;
  text-align: center;
}

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Home Page */
  .container .jumbotron {
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    height: 432px;
  }
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }

  #menu-tile {
    width: 100%;
    margin: 10px auto;
  }

  .navbar-brand {
    padding-top: 25px;
    margin-bottom: 0;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile {
    width: 100%;
    margin: 10px auto;
  }
}
