    <fieldset>
      <legend>Registration</legend>
      <form name='regForm' novalidate>

        <input type="text" name="firstname" placeholder="First Name"
          ng-model="registrationCtrl.user.firstname"
          required
          minlength="1"
          ng-maxlength="400">
          {{ registrationCtrl.user.firstname }}
          <span
            ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required) && regForm.firstname.$touched">
            First name must be at least 1 character long
          </span>
          <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
            First name must not be longer than 100 characters
          </span>
          <br>

        <input type="text" name="lastname" placeholder="Last Name"
          ng-model="registrationCtrl.user.lastname"
          required
          minlength="1"
          ng-maxlength="400">
          {{ registrationCtrl.user.lastname }}
          <span
            ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required) && regForm.lastname.$touched">
            Last name must be at least 1 character long
          </span>
          <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
            Last name must not be longer than 100 characters
          </span>
          <br>


        <input type="email" name="email" placeholder="Email"
          ng-model="registrationCtrl.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="registrationCtrl.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

        <input type="text" name="favorite" placeholder="Favorite menu item"
          ng-model="registrationCtrl.user.favorite"
          required>
          <span ng-if="regForm.email.$touched && registrationCtrl.menuItems.indexOf(registrationCtrl.user.favorite) == -1">
		  Invalid item.
          </span>
          <br>


        <button
          ng-disabled="regForm.$invalid"
          ng-click="registrationCtrl.submit()">Submit</button>

          <div style="margin-top: 10px;">
            Form valid? {{ regForm.$valid }}
          </div>
      </form>
    </fieldset>

    <div id="info" ng-if="registrationCtrl.completed">
      First name: {{ registrationCtrl.user.firstname}} <br>
      Last name: {{ registrationCtrl.user.lastname}} <br>
      Email: {{ registrationCtrl.user.email}} <br>
      Phone: {{ registrationCtrl.user.phone }} <br>
      Favorite: {{ registrationCtrl.user.favorite}}
    </div>
