  <div id="info" ng-if="!profileCtrl.userInfo.firstname">
    <a ui-sref="public.registration">Not Signed Up Yet. Sign Up Now!</a>
  </div>

  <div id="info" ng-if="profileCtrl.userInfo.firstname">
    First name: {{ profileCtrl.userInfo.firstname }} <br>
    Last name: {{ profileCtrl.userInfo.lastname }} <br>
    Email: {{ profileCtrl.userInfo.email }} <br>
    Phone: {{ profileCtrl.userInfo.phone }} <br>
    Favorite: {{ profileCtrl.userInfo.favorite }} <br>
      
    <img class="img-responsive" ng-visible="profileCtrl.userInfo.firstname" width="250" height="150" src="https://morning-reef-62571.herokuapp.com/images/{{ profileCtrl.userInfo.favorite }}.jpg">

    Favorite item name/title: {{ profileCtrl.favoriteMenuItemInfo.name }} <br>
    Favorite item description: {{ profileCtrl.favoriteMenuItemInfo.description}} <br>
  </div>
